<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {class: "form-signin"}) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="form-group row">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
  </div>

  <div class="form-group row">
    <label>Senha</label>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> caracteres no mínimo)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
  </div>

  <div class="form-group row">
    <label>Confirmação</label>
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control"  %>
  </div>

  <div class="form-group row">
    <%= f.submit "Entrar", class: "btn btn-primary" %>
  </div>

  <%= render "devise/shared/links" %>

<% end %>


