  <main role="main" class="inner cover">
    <h1 class="cover-heading">Tá precisando conectar?.</h1>
    <p class="lead">Pesquise e compartilhe as redes que estão ao seu alcance.</p>
    <p class="lead">
      <a href="/my_ratings#" class="btn btn-lg btn-secondary">Login</a>
    </p>
  </main>
