<%= form_with(model: venue, local: true) do |form| %>
  <% if venue.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(venue.errors.count, "error") %> prohibited this venue from being saved:</h2>

      <ul>
      <% venue.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group row">
    <label for="venue_name" class="col-sm-2 col-form-label">Local</label>
    <div class="col-sm-10">
      <%= form.text_field :venue_name, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group row">
    <label for="venue_type" class="col-sm-2 col-form-label">Tipo</label>
    <div class="col-sm-10">
      <%= form.select :venue_type, options_for_select(%w{Café Restaurante Coworking Livraria Outro}), {}, {class: 'form-control'} %>
    </div>
  </div>

  <div class="form-group row">
    <label for="address" class="col-sm-2 col-form-label">Endereço</label>
    <div class="col-sm-10">
      <%= form.text_field :address, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group row">
    <label for="address" class="col-sm-2 col-form-label">Cidade</label>
    <div class="col-sm-10">
      <%= form.text_field :city, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group row">
    <label for="address" class="col-sm-2 col-form-label">País</label>
    <div class="col-sm-10">
      <%= form.text_field :country, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group row">
    <label for="network_name" class="col-sm-2 col-form-label">Rede</label>
    <div class="col-sm-10">
      <%= form.text_field :network_name, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group row">
    <label for="network_name" class="col-sm-2 col-form-label">Gratuita?</label>
    <div class="col-sm-10">
      <%= form.check_box :network_is_free, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group row">
    <label for="network_name" class="col-sm-2 col-form-label">Senha</label>
    <div class="col-sm-10">
      <%= form.text_field :network_password, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group row">
    <div class="col-sm-2"></div>
    <div class="col-sm-10">
      <button type="submit" class="btn btn-primary">Salvar</button>
    </div>
  </div>

<% end %>
