<% if notice %>
<div class="alert alert-info" role="alert">
<%= notice %>
</div>
<% end %>

<% if @filtered %>

<div class="row filter">

  <div class="col-sm-12">
  
    Listando por

    <% if cookies[:venue_type] && cookies[:venue_type] != "Todos" %>
    <span class="badge badge-secondary"><%= cookies[:venue_type] %></span>
    <% end %>

    <% if cookies[:price_rating] && cookies[:price_rating] != "Todos" %>
    <span class="badge badge-secondary">Preço <%= render_evaluation(cookies[:price_rating].to_i) %></span>
    <% end %>

    <% if cookies[:distance] && cookies[:distance] != "Todos" %>
    <span class="badge badge-secondary"><%= cookies[:distance] %></span>
    <% end %>

    <% unless cookies[:q].blank? %>
    <span class="badge badge-secondary">Localização <%= cookies[:q] %></span>
    <% end %>
      
  </div>
  
</div>

<% end %>

<div class="row">

<table class="table table-striped">
  <thead>
    <tr>
      <th>Estabelecimento</th>
      <th>Rede/Senha</th>
      <th>Avaliação Geral</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @venues.each do |venue| %>
      <tr>
        <td><%= venue.venue_name %></td>
        <td><%= venue.network_name %>/<%= venue.network_password %></td>
        <td><%= render_evaluation(venue.overall_rating) %> (<%= venue.rating_count %>)  </td>
        <td><%= link_to 'Ver', venue_path(venue), class: 'btn btn-info' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Achou uma rede nova?', new_venue_path, class: "btn btn-large btn-primary" %>

</div>

<div class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Buscar estabelecimentos</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <div class="form-group row">
              <label for="venue_type" class="col-sm-3 col-form-label">Distância</label>
              <div class="col-sm-9">
                <select id="distance" class="form-control">
                  <%= options_for_select(%w{Todos 100m 1km 20km 100km}, cookies[:distance]) %>
                </select>
              </div>
            </div>
            <div class="form-group row">
              <label for="venue_type" class="col-sm-3 col-form-label">Tipo</label>
              <div class="col-sm-9">
                <select id="venue_type" class="form-control">
                  <%= options_for_select(%w{Todos Café Restaurante Coworking Livraria Outro}, cookies[:venue_type]) %>
                </select>
              </div>
            </div>
            <div class="form-group row">
              <label for="venue_name" class="col-sm-3 col-form-label">Localização</label>
              <div class="col-sm-9">
                <input type="text" id="q" class="form-control" value="<%= cookies[:q] %>">
              </div>
            </div>
            <div class="form-group row">
              <label for="venue_type" class="col-sm-3 col-form-label">Preço</label>
              <div class="col-sm-9">
                <select id="price_rating" class="form-control">
                  <%= options_for_select(%w{Todos 1 2 3 4 5}, cookies[:price_rating]) %>
                </select>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button id="btn-search" type="button" class="btn btn-primary">Buscar</button>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  $("#btn-search-open").click(function() {
    $(".modal").modal('show');
  });

  $("#btn-search").click(function() {
    window.location.href = "/venues/save_query?distance=" + $("#distance").val() + "&q=" + $("#q").val() + "&venue_type=" + $("#venue_type").val() +  "&price_rating=" + $("#price_rating").val();
  });

</script>