<div class="card">
  <div class="card-body">
    <a href="/venues" type="button" class="card-close close">
      <span>&times;</span>
    </a>    

    <h5 class="card-title"><%= @venue.venue_name %></h5>
    <h6 class="card-subtitle mb-2 text-muted"><%= @venue.venue_type %></h6>

    <p class="card-text">
      <%= @venue.full_address %>

      <div class="alert alert-success" role="alert">
        REDE: <%= @venue.network_name %><br>
        SENHA: <%= @venue.network_password %>
      </div>

      <% if @venue.rating_count > 0 %>

      <div id="rating-display">

        <% if notice %>
        <div class="alert alert-info" role="alert">
        <%= notice %>
        </div>
        <% end %>

        <% unless @rating %>
        <h6>Avaliação geral</h6>
        <% else %>
        <h6>Avaliação feita em <%= @rating.created_at.strftime("%d/%m/%y às %H:%M") %></h6>
        <% end %>

        <table class="table">
          <% if @rating %>
          <tr>
            <td>Comidas</td>
            <td><%= @rating.foods %></td>
          </tr>
          <tr>
            <td>Bebidas</td>
            <td><%= @rating.drinks %></td>
          </tr>
          <% end %>
          <tr>
            <td>Atendimento</td>
            <td class="rating-large"><%= render_evaluation(@venue.service_rating) %></td>
          </tr>
          <tr>
            <td>Preço</td>
            <td class="rating-large"><%= render_evaluation(@venue.price_rating) %></td>
          </tr>
          <tr>
            <td>Conforto</td>
            <td class="rating-large"><%= render_evaluation(@venue.comfort_rating) %></td>
          </tr>
          <tr>
            <td>Nível de ruído</td>
            <td class="rating-large"><%= render_evaluation(@venue.noise_rating) %></td>
          </tr>
          <tr>
            <td>Geral</td>
            <td class="rating-large"><%= render_evaluation(@venue.overall_rating) %></td>
          </tr>        
        </table>

        <% unless @rating %>
        <a href="javascript:void(0)" class="btn btn-primary" id="rating-btn">Quero avaliar</a>
        <% end %>
        
      </div>

      <% else %>

        <div id="rating-display">

          <p>Não há avaliações desse local ainda.</p>

          <a href="javascript:void(0)" class="btn btn-primary" id="rating-btn">Quero ser o primeiro a avaliar!</a>

        </div>

      <% end %>

      <div id="rating-card" class="collapse">

        <div class="alert alert-warning" role="alert">
          Clique nas estrelas e avalie cada um dos ítens abaixo
        </div>

        <form method="post" action="/venues/<%= @venue.id %>/rate">
        <%= token_tag nil %>
        <table class="table">
          <tr>
            <td>Comidas</td>
            <td>
              <input type="text" name="rating[foods]" value="" class='form-control' placeholder="Quais tipos de comidas são servidos.">
            </td>
          </tr>
          <tr>
            <td>Bebidas</td>
            <td>
              <input type="text" name="rating[drinks]" value="" class='form-control' placeholder="Quais tipos de bebidas são servidos.">
            </td>
          </tr>
          <tr>
            <td>Atendimento</td>
            <td class="rating-large"><%= input_evaluation("rating[service_rating]") %></td>
          </tr>
          <tr>
            <td>Preço</td>
            <td class="rating-large"><%= input_evaluation("rating[price_rating]") %></td>
          </tr>
          <tr>
            <td>Conforto</td>
            <td class="rating-large"><%= input_evaluation("rating[comfort_rating]") %></td>
          </tr>
          <tr>
            <td>Nível de ruído</td>
            <td class="rating-large"><%= input_evaluation("rating[noise_rating]") %></td>
          </tr>
          <tr>
            <td>Geral</td>
            <td class="rating-large"><%= input_evaluation("rating[overall_rating]") %></td>
          </tr>        
        </table>
        <button class="btn btn-primary">Salvar</button>
        </form>
      </div>

    </p>

  </div>
</div>



<script type="text/javascript">
  
  $(".rating-star").click(function() {
    var element = $(this).data("element");
    var value = $(this).data("value");
    $("input[name=" + element.replace(/\[/, "\\[").replace(/\]/, "\\]") + "]").val(value);
    $(".rating-star").each(function() {
      if ($(this).data("element") == element) {
        if ($(this).data("value") <= value) {
          $(this).addClass("fa-star");
          $(this).removeClass("fa-star-o");
        } else {
          $(this).addClass("fa-star-o");
          $(this).removeClass("fa-star");
        }
      }
    });
  })

  $("#rating-btn").click(function() {
    $("#rating-card").show();
    $("#rating-display").hide();
  })

</script>