<% if notice %>
<div class="alert alert-info" role="alert">
<%= notice %>
</div>
<% end %>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Local</th>
      <th>Rede</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @ratings.each do |rating| %>
      <tr>
        <td><%= rating.venue.venue_name %></td>
        <td><%= render_evaluation(rating.overall_rating) %></td>
        <td><%= link_to 'Ver', "/ratings/#{rating.id}", class: 'btn btn-info' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Achou uma rede nova?', new_venue_path, class: "btn btn-large btn-primary" %>
