<%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: "form-signin"}) do |f| %>

  <div class="form-group row">
    <label>Email</label>
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control' %>
  </div>

  <div class="form-group row">
    <label>Senha</label>
    <%= f.password_field :password, autocomplete: "current-password", class: 'form-control' %>
  </div>

  <div class="form-group row">
    <%= f.submit "Entrar", class: 'btn btn-primary' %>
  </div>

  <%= render "devise/shared/links" %>

<% end %>
