<div class="card">
  <div class="card-body">
    <p>
      Essa aplicação foi desenvolvida para o processo de seleção da Vibbra!  
    </p>
    <p>
      Seguindo a especificação do Teste Técnico foram desenvolvidas as seguintes atividades:

      <ul>
        <li>Cadastro/Login</li>
        <li>Minhas avaliações</li>
        <li>Listagem de estabelecimentos</li>
        <li>Visualização de estabelecimentos</li>
        <li>Cadastro de avaliação</li>
      </ul>
    </p>
  </div>
</div>
