<!DOCTYPE html>
<html>
  <head>
    <title>Tem Wifi?</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>
    <link href="/css/wifi.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/font-awesome.min.css">
    <script src="/js/jquery-3.4.1.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
  </head>


  <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">

  <header class="masthead">
    <div class="inner">
      <h3 class="masthead-brand">Tem Wifi?</h3>
      <nav class="nav nav-masthead justify-content-center">
        <% unless current_user %>
        <a class="nav-link<%= " active" if request.path.to_s == "/users/sign_in"%>" href="/users/sign_in">Entrar</a>
        <% end %>
        <% if current_user %>
        <% if @can_search %>
        <a href="#" id="btn-search-open" class="btn btn-secondary mr-4"><i class="fa fa-search"></i></a>
        <% end %>
        <a class="nav-link<%= " active" if request.path.to_s == "/venues"%>" href="/venues">Estabelecimentos</a>
        <a class="nav-link<%= " active" if request.path.to_s == "/my_ratings"%>" href="/my_ratings">Minhas avaliações</a>
        <% end %>
        <a class="nav-link<%= " active" if request.path.to_s == "/about"%>" href="/about#">Sobre</a>
        <% if current_user %>
        <a class="nav-link" href="/users/sign_out">Sair</a>
        <% end %>
        </a>
      </nav>
    </div>
  </header>

  <%= yield %>

  <footer class="mastfoot mt-auto">
    <div class="inner">
      <p>Feito para <a href="http://vibbra.com.br/" target="_blank">Vibbra!</a> por <a href="https://www.erija.com.br" target="_blank">Erija</a></p>
    </div>
  </footer>

  </div>
</body>

</html>
